@using Record_Shop_Frontend.Client.Models

<div class="record-summary">

    <img src="@(string.IsNullOrEmpty(album.ImageUrl) ? "https://f4.bcbits.com/img/0035511140_71.jpg" : album.ImageUrl)" alt="@album.Name cover art" class="album-cover" />

    <h2 class="album-title">@album.Name</h2>
    <ul class="album-info-list">
        <li class="album-artist"><strong>Artist:</strong> @album.Artist</li>
        <li class="album-releaseyear"><strong>Release Year:</strong> @album.ReleaseYear</li>
        <li class="album-genre"><strong>Genre: </strong> @album.Genre</li>
        <li class="album-price"><strong>Price: </strong> £@album.Price.ToString()</li>
        <li class="album-stock"><strong>Stock: </strong> @album.Stock.ToString()</li>
    </ul>
</div>

@code {
    [Parameter]
    public Album album { get; set; }
}
